name: .NET Framework

on: [push]

jobs:
  NetFX-CI:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v1
    - uses: nuget/setup-nuget@v1
    - name: Restore NuGet packages
      run: nuget restore CilBytecodeParser.Runtime\CilBytecodeParser.Runtime.csproj
    - name: Build with MSBuild
      run: |
        & "${env:ProgramFiles(x86)}\Microsoft Visual Studio\2019\Enterprise\MSBuild\Current\Bin\msbuild.exe"
    - name: Run
      run: |        
        & CilBytecodeParserDemo\bin\Debug\CilBytecodeParserDemo.exe
    - name: Test with VSTest console
      run: |
        & "${env:ProgramFiles(x86)}\Microsoft Visual Studio\2019\Enterprise\Common7\IDE\Extensions\TestPlatform\vstest.console.exe" CilBytecodeParser.Tests\bin\Debug\CilBytecodeParser.Tests.dll
